html, p, figcaption {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica, sans-serif;
}

header nav, #nav-mobile {
  margin: 1rem 0;
}

header nav a, #nav-mobile {
  margin-right: 2rem;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

figcaption {
  text-align: center;
}

footer {
  background-color: azure;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.site-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.white {
  color: white;
}

.brand-bg {
  background-color: cadetblue;
}

.bold-upper {
  font-weight: bold;
  text-transform: uppercase;
}

#navbar {
  background-color: cadetblue;
  margin-top: 1rem;
}

#header-img {
  background-image: url("../img/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  width: auto;
  background-position: center;
  align-items: flex-start;
}

#img-text {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: -2rem;
}

#img-text span {
  font-size: 2rem;
}

#fig-exams, #fig-fittings, #fig-delivery {
  height: 8rem;
  margin: 3rem;
  width: 5rem;
}

#fig-exams img {
  width: 3.5rem;
}

#fig-fittings img, #fig-delivery img {
  width: 5rem;
}

#philosophy, #appointments {
  max-width: 35%;
  margin-bottom: 5rem;
}

#philosophy {
  margin-right: 5%;
}

#philosophy h1, #appointments h1 {
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  margin-right: auto;
  width: 10rem;
}

#nav-mobile {
  display: none;
}

/* ---------- Tablets ---------- */

@media only screen and (max-width: 1120px) {
  .site-container {
    width: 100%;
  }

  #header-img {
    height: 22rem;
  }

  #navbar {
    margin-top: 0;
  }

  #img-text {
    margin-right: 2rem;
    margin-top: 5rem;
    padding: 1.75rem 4rem; /* Redline shows 0.75rem, 4rem but
                              it looks wrong. This makes it look
                              more like the prompt, visually. */
  }

  #img-text span {
    font-size: 1.33rem;
  }
}

/* ---------- Mobile ---------- */

@media only screen and (max-width: 675px) {
  #nav-mobile {
    display: inherit;
  }

  #nav-links {
    display: none;
  }

  #header-img {
    height: 17rem;
    background-position: 20%;
  }

  #figures {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem auto;
  }

  #img-text {
    margin-top: 9rem;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  #fig-exams, #fig-fittings, #fig-delivery {
    margin: 0 0 1.54rem 0;
  }

  #fig-fittings, #fig-delivery {
    height: 6rem;
  }

  section {
    display: block;
    width: 100%;
  }

  figcaption p {
    font-size: 0.77rem;
  }
}
