html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica, sans-serif;
}

header nav {
  margin: 1rem 0;
}

header nav a {
  margin-right: 2rem;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.site-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  align-items: center;
}

.white {
  color: white;
}

#navbar {
  background-color: cadetblue;
  margin-top: 1rem;
  justify-content: space-between;
}

#header-img {
  background-image: url("../img/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  width: auto;
  background-position: center;
  align-items: flex-start;
}

#img-text {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: -2rem;
}

#img-text span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
